@use "_botones-cita";
@use "_fuente";
@use "_variables" as *;
@use "_hamburguesa";
@use "_mixins" as *;

body {
    font-family: $fuente-secundaria;
}

//Estilos del header
header {
    background-color: $color-primario;
    color: $color-secundario;
    padding: 1em 0;
    @include flex-center;
    .logo {
        cursor: pointer;
        display: flex;
        justify-content: left;
        align-items: center;
        animation: move 2s ease forwards;
        img {
            width: 6em;
            height: 6em;
        }
    }
    h2 {
        font-family: $fuente-principal;
        visibility: hidden;
        animation: move 2s ease forwards 1s;
    }
}

//Estilos del menú de navegación
nav {
    display: flex;
    visibility: hidden;
    animation: move 2s ease forwards 2s;
    margin-bottom: 0;
    ul {
        display: flex;
        list-style: none;
        align-items: center;
        li {
            margin: 0 1em;
            a {
                text-decoration: none;
                color: $color-secundario;
            }
        }
    }
}
.active {
    border: $color-secundario 2px solid;
    padding: 2px;
}

.list__bar {
    height: 3rem;
    width: 0.1%;
    background-color: $color-secundario;
}

.translate {
    border: none;
    background-color: transparent;
    color: $color-secundario;
    padding: 0.5em 1em;
    border: none;
    font-family: $fuente-secundaria;
    cursor: pointer;
}

@media (max-width: 992px) {
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav ul {
        display: none !important;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    nav ul.active {
        display: flex !important;
    }
    nav ul li {
        padding: 1em;
    }
    .list__bar {
        display: none !important;
    }
    .hamburger {
        display: flex !important;
        margin-left: 1em;
    }
    nav .black__button {
        display: none;
    }
}

@media (max-width: 576px) {
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav ul {
        display: none !important;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    nav ul.active {
        display: flex !important;
    }
    nav ul li {
        padding: 1em;
    }
    .list__bar {
        display: none !important;
    }
    .hamburger {
        display: flex !important;
        margin-left: 1em;
    }
    nav .black__button {
        display: none;
    }
    .translate {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1em;
    }
}

//Animación de entrada
@keyframes move {
    0% {
        transform: translateX(100vw);
        visibility: visible;
    }
    50% {
        transform: translateX(0);
        visibility: visible;
    }
    75% {
        transform: scale(1.2);
        visibility: visible;
    }
    100% {
        transform: scale(1);
        visibility: visible;
    }
}
